---
layout: default
---
	<div class='pad8 col8 articles-section'><div class='pad0 col10 margin1 article-list-title picks'>Editor's Picks</div><div class='col10 margin1 article'>
	{% for post in site.categories.editors %}
		{% if post.published == true %}
	<div class='circular article-circle' style='background:url({{post.contributorphoto}}) no-repeat; background-size: 60px;'></div><h2><a href={{site.baseurl}}{{post.url}}>{{post.headline}}</a></h2>
	<p class='contributors'>{% for contributor in post.contributors %}
 		<a href="{{site.baseurl}}/{{ contributor | downcase | replace:' ','-' }}">{{contributor}}</a>{% if forloop.rindex == 2 and forloop.length > 1 %} and {% endif %}{% if forloop.rindex >  2 %},{% endif %}
	{% endfor %}</p>
	<p>{{ post.content | strip_html | truncatewords:40}}</p>
		{% endif %}
	{% endfor %}
	</div>
	<div class='pad0 col10 margin1 article-list-title picks'>Most Recent</div>
	<div class='col10 margin1 article'>
		{% for post in site.categories.article limit:4 %}
		 		{% if post.categories[1] != "editors" %}
				{% if post.published == true %}
<div class='fr circular article-circle' style='background:url({{post.contributorphoto}}) no-repeat; background-size: 60px;'></div><h2><a href={{site.baseurl}}{{post.url}}>{{post.headline}}</a></h2>
		<p class='contributors'>{% for contributor in post.contributors %}
		<a href="{{site.baseurl}}/{{ contributor | downcase | replace:' ','-' }}">{{contributor}}</a>{% if forloop.rindex == 2 and forloop.length > 1 %} and {% endif %}{% if forloop.rindex >  2 %},{% endif %}{% endfor %}</p>
		<p>{{ post.content | strip_html | truncatewords:40}}</p>
				{% endif %}
			    {% endif %}
		{% endfor %}
		</div>	
	</div>
	<div class='pad8 col4 article-list-title media-section'><div class='pad0 col11 margin1 media-header'>Video</div><!-- <iframe class='margin1 video' width="325" height="275" src="//www.youtube.com/embed/QeDm2PrNV1I" frameborder="0" allowfullscreen></iframe><iframe class='margin1 video' width="325" height="275" src="//www.youtube.com/embed/j1FkYkd9Ea8" frameborder="0" allowfullscreen></iframe><iframe class='margin1 video' width="325" height="275" src="//www.youtube.com/embed/ZApBgNQgKPU" frameborder="0" allowfullscreen></iframe> -->
	{% for post in site.categories.video %}
			{% if post.published == true %}
<iframe class='margin1 video' width="325" height="275" src="{{post.videourl}}" frameborder="0" allowfullscreen></iframe>
			{% endif %}
	{% endfor %}
	<div class='pad0 col10 margin1 media-header'>Galleries</div></div>