<!-- this can be put in an include -->
<!-- assign a new variable to hold current page contributors -->
{% assign contributorname = {{page.contributors[0]}} %}
<!-- This should be an include because it repeats for the feeds and contributors -->
<div class='contributor-header'>
    {% if page.coverphoto != 'undefined' %}<div class='col5 contributor-theme-image' style='background:url({{page.coverphoto}}) no-repeat; background-size: cover;'>
		{% else %}
		<div class='col5 contributor-theme-image'>
		{% endif %}</div>
    <div class='contrib-layout circular' style='background:url({{page.image}}) no-repeat; background-size: cover;'></div>
    <div class='pad8h margin1 col5 contributor-details'>
        <h1 class='contributor-name'>{{contributorname}}</h1>
        <div class='contributors titillium bold page-excerpt'>    {% if page.excerpt != 'undefined' %}{{ page.excerpt }}{% endif %}</div>
    </div>
</div>
<div class='col11 contributor-content'>
        <div class='pad4 col4 contributor-bio'>
			<div class='col12'>{% if page.bio != 'undefined' %}{{ page.bio }}{% endif %}</div>
			<ul class='col12 tag trending nodec contrib-tag' id='tag-box'>
	 </ul>
		
	</div>
        <div class='pad4 col8 stories'>
             <div class='pad0 col11 margin1 picks'><h3>My Stories</h3></div>
             <!-- Must cycle through contributors array to compare with contributor page name -->
             {% for post in site.posts %}
             {% for contributor in post.contributors %}
             {% if contributor == contributorname %}
             {% if page.class != contributor %}
             {% if post.published == true %}

		 {% for tag in post.tags limit:1 %}
		 <script type="text/javascript">
		 {% unless forloop.rindex == 0 %}
		 var tag = tag + ',' + {{post.tags | jsonify | downcase }} ;
		 {% endunless %}
		 </script>
		 {% endfor %}
		 <script type="text/javascript">
		 var listtags = tag.split(',');
		 for (var i = 0; i < listtags.length; i++) {
		 	var nonduplicatelist = _.uniq(listtags);
		 	nonduplicatelist = _.rest(nonduplicatelist);
		     }
		 </script>
             <div class="margin1 article">
               <h2 class='bold capitalize'><a href={{site.baseurl}}{{post.url}}>{{ post.headline }}</a></h2>
			   {% include contrib_list_tag.html %}
			   <p>{{ post.content | markdownify | strip_html | truncatewords:40 }}</p>
             </div>
             {% endif %}
             {% endif %}
             {% endif %}
             {% endfor %}
             {% endfor %}
			 <script type="text/javascript">
			 for (var i = 0; i < nonduplicatelist.length; i++) {
				 var tagname = nonduplicatelist[i];
				 var tagnametitle = tagname.replace("-"," ");
				 var listtag = "<li class='col12' ><h4><a class='col5 pad0 tag-color button-color' href={{site.baseurl}}/tag/"+ tagname +">" + tagnametitle + "</a></h4></li>";
				 $('.trending').append(listtag);
			 }
			 </script>
      </div>
</div>