---
layout: default
---
<div class='col12 container fill-article'>
	<img src="/clean-blog/images/icon-action-page-active.svg" alt="action logo" class='fl action-logo'>	
	<h2 class='action-title'>TAKE ACTION</h2>
	<div class='col8 pad4 container nopaddingtop'>
		<div class='col12 orangeback action-img-layout' style='{% if page.featuredphoto != "undefined" %} background:url({{page.featuredphoto}}); {% endif %} background-size:cover;'></div>
		<div class='action-fill'>
			<h2 class='pad2 capitalize'>{{page.headline}}</h2>
			<h6 class='pad2'>{{page.type}}</h6>
<div class='col12 media tag'>
	<div class='pad2 col2'>
	    {% for tag in page.tags %}<h4 class='pad0 media tag-color button-color'><a class='pad0' href='{{site.baseurl}}/tag/{{ tag | downcase | replace:' ','-' }}'>{{ tag | downcase | replace:'-',' '  }}</a></h4>{% endfor %}
	</div>
	<div class='pad2 col2'>
            <h4 class='col12 fl tag'><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youngist.github.io/clean-blog{{page.url}}" data-lang="en" data-size="large" data-count="none">Tweet</a>
</h4>
<h4 class='col12 fl tag'><div class="fb-share-button" data-href="http://youngist.github.io/clean-blog{{page.url}}" data-width="25" data-height="63" data-type="button"></div></h4>
</div>
</div>
			<div class='pad2'>{{content}}</div>
		</div>
	</div>
	<div class='col4 pad4 container nopaddingtop'>
		<h5>Other Actions</h5>
		<!-- DONT INCLUDE SHOWN ACTION -->
	{% for post in site.categories.action limit:2 %}
	{% if post.headline != page.headline %}
		<div class='col12 action-posts'>
			<div class='orangeback' style='{% if post.featuredphoto != "undefined" %} background:url({{post.featuredphoto}}); background-size:cover;{% endif %}'/></div>
			<div class='action-fill'>
				<h3 class='pad2 capitalize'><a href='{{site.baseurl}}{{post.url}}'>{{ post.headline }}</a></h3>
				<p class='pad2 post-type'>{{post.type}}</p>
			</div>
		</div>
	{% endif %}
	{% endfor %}
	</div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
