<!DOCTYPE html>
{% assign base = site.baseurl %}
<html>
<head>
<meta charset='utf-8' />
<title>{{page.title}}</title>
<!-- Find another way to include excerpt for facebook and other social sharing -->
<!-- <meta name='description' content='{{ page.excerpt }}'> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href='{{base}}/carousel.css'>
<link type="text/css" rel="stylesheet" href='{{base}}/bootstrap.css'> <!-- careful what gets changed to bootstrap -->
<link type="text/css" rel="stylesheet" href='{{base}}/site.css'>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35445248-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body {% if page.class %} class='{{page.class}}' {% endif %}>
<div class='col12 header-container clearfix'>
        <!-- SOCIAL MEDIA -->
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <div class='header'>
            <div class='rborder'>
                <a href='{{base}}/'>
                    <img class='margin2 logo' src='{{base}}/images/tumblrlogo.png' />
                </a>
            </div>
        </div>
        <nav class="rborder navbar-collapse bs-navbar-collapse collapse" role="navigation" style='height:1px;'>
        <ul class='menu-social col3' style="padding-bottom: 30px;">
            <li class=''><a class='pad0' href='{{base}}/action'><img src='{{base}}/images/speaker-temp.png' style='height: 41px;' /></a></li>
            <li class=''><a class='pad0' href='rss'><img src='{{base}}/images/icon-social-tumblr.svg' style='height: 41px;' /></a></li>
            <li class=''><a class='pad0' href='https://www.facebook.com/youngistdotorg'><img src='{{base}}/images/icon-social-twitter.svg' style='height: 41px;' /></a></li>
            <li class=''><a class='pad0' href='http://www.twitter.com/theyoungist/'><img src='{{base}}/images/icon-social-facebook.svg' style='height: 41px;' /></a></li>
            <li class=''><a class='pad0' href='http://www.youngist.tumblr.org/'><img src='{{base}}/images/icon-social-rss.svg' style='height: 41px;' /></a></li>
        </ul>
        <div id="search">
          <form action="{{base}}/search" class='col2 search' method="get">
            <input type="text" class='col2' id="search-query" name="q" placeholder="Search" autocomplete="off">
          </form>
        </div>
        <ul class='menu col5'>
            <li class='bold center nav-action'><a href='{{base}}/donate'>DONATE</a></li>
            <li class='bold center nav-action'><a href='{{base}}/about'>ABOUT</a></li>
            <li class='bold center nav-action'><a href='{{base}}/pitch'>PITCH</a></li>
            <li class='bold center nav-action'><a href='#modal'>UPDATES</a></li>
        </ul>
        </nav>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
{{content}}
<div class='col12 pad2 center footer'>{Young}ist footer</div>
<!-- <script src="{{base}}/js/search.min.js"></script> -->
<script src="{{base}}/bootstrap.min.js"></script>
<script src="{{base}}/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{base}}/js/mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="{{base}}/js/date.format.js" type="text/javascript" charset="utf-8"></script>
<script src="{{base}}/js/URI.js" type="text/javascript" charset="utf-8"></script>
<script src="{{base}}/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
