<!DOCTYPE html>
{% assign base = site.baseurl %}
<html>
<head>
<meta charset='utf-8' />
<title>{{page.title}}</title>
<!-- Find another way to include excerpt for facebook and other social sharing -->
<!-- <meta name='description' content='{{ page.excerpt }}'> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href='{{base}}/carousel.css'>
<link type="text/css" rel="stylesheet" href='{{base}}/bootstrap.css'> <!-- careful what gets changed to bootstrap -->
<link type="text/css" rel="stylesheet" href='{{base}}/site.css'>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35445248-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Open Graph -->
<meta property='og:title' content='{{ page.headline }}' />
<meta property='og:image' content='{{ page.featuredphoto }}' />
<meta property='og:description' content='{{page.tagline}}' />
<meta property="og:url" content="{{page.url}}" />
<!-- Should I use tagline or an excerpt? -->
<!-- <meta property='og:description' content='{{ post.content | strip_html | truncatewords:20}}' /> -->
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{ background:#fff; border: chocolate 1px solid; clear:left; font:14px "Titillium Web",Arial,sans-serif; z-index:1; position: fixed;
top: 100px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
</head>
<body {% if page.class %} class='{{page.class}}' {% endif %}>
<div class='col12 header-container clearfix'>
        <!-- SOCIAL MEDIA -->
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <div class='header'>
            <div class='rborder'>
                <a href='{{base}}/'>
                    <img class='margin2 logo' src='{{base}}/images/tumblrlogo.png' />
                </a>
            </div>
        </div>
        <nav class="rborder navbar-collapse bs-navbar-collapse collapse" role="navigation" style='height:1px;'>
        <ul class='menu-social col3' style="padding-bottom: 30px;">
            <li class=''><a class='pad0' href='{{base}}/action'><img src='{{base}}/images/speaker-temp.png' style='height: 41px;' /></a></li>
            <li class=''><a class='pad0 rss' href='rss'><img src='{{base}}/images/icon-social-rss.svg' style='height: 41px;' /></a></li>
            <li class=''><a class='pad0 facebook' href='https://www.facebook.com/youngistdotorg'><img src='{{base}}/images/icon-social-facebook.svg' style='height: 41px;' /></a></li>
            <li class=''><a class='pad0' href='http://www.twitter.com/theyoungist/'><img src='{{base}}/images/icon-social-twitter.svg' style='height: 41px;' /></a></li>
            <li class=''><a class='pad0' href='http://www.youngist.tumblr.org/'><img src='{{base}}/images/icon-social-tumblr.svg' style='height: 41px;' /></a></li>
        </ul>
        <div id="search">
          <form action="{{base}}/search" class='col2 search' method="get">
            <input type="text" class='col2' id="search-query" name="q" placeholder="Search" autocomplete="off">
          </form>
        </div>
        <ul class='menu col5'>
            <li class='bold center nav-action'><a href='{{base}}/donate'>DONATE</a></li>
            <li class='bold center nav-action'><a href='{{base}}/about'>ABOUT</a></li>
            <li class='bold center nav-action'><a href='{{base}}/pitch'>PITCH</a></li>
            <li class='bold center nav-action'><a onclick='updatemodal()'>UPDATES</a></li> <!-- When #modal is clicked id mc_embed_signup div id is shown -->
        </ul>
        </nav>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type='text/javascript'>
function updatemodal(){
    el = document.getElementById("mc_embed_signup");
    if($(el).hasClass("hide")){
      $(el).removeClass("hide");
      $(el).addClass("shown");
    }
    else if($(el).hasClass("shown")){
        $(el).removeClass("shown");
        $(el).addClass("hide");
    }
}
</script>
<div id="mc_embed_signup" class='hide pad4 margin4'>
<form action="http://Youngist.us4.list-manage.com/subscribe/post?u=890561b9b92aaff44f71a6864&amp;id=7ab0d89a07" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <em class='fr'><a onclick='updatemodal()'>Close</a></em>
	<h2>Subscribe and receive weekly updates!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
{{content}}
<div class='col12 pad4 center container footer'>
    <div class='col3 footer-logo'>{young}ist</div>
    <ul class='col3 footer-links'>
        <li><a href='{{base}}/contact'>Contact Us</a></li>
        <li><a href='{{base}}/masthead'>Masthead</a></li>
        <li><a href='{{base}}/pitch'>Pitch</a></li>
    </ul>
    <ul class='col3 footer-links'>
        <li><a href='{{base}}/press'>Press</a></li>
        <li><a href='{{base}}/about'>About Us</a></li>
        <li><a href='{{base}}/terms'>Terms of Service</a></li>
    </ul>
    <div class='col3'>
        <ul class='fl col12 footer-social'>
            <li><a class='pad0' href='rss'><img class='circular footer-social-logo' src='{{base}}/images/icon-social-rss.svg' /></a></li>
            <li><a class='pad0' href='https://www.facebook.com/youngistdotorg'><img class='circular footer-social-logo' src='{{base}}/images/icon-social-facebook.svg' style='height: 25px;' /></a></li>
            <li><a class='pad0' href='http://www.twitter.com/theyoungist/'><img class='circular footer-social-logo' src='{{base}}/images/icon-social-twitter.svg' style='height: 25px;' /></a></li>
            <li><a class='pad0' href='http://www.youngist.tumblr.org/'><img class='circular footer-social-logo' src='{{base}}/images/icon-social-tumblr.svg' style='height: 25px;' /></a></li>
        </ul>
        <div class='pad0 fl col12 footer-button' onclick='updatemodal()' style='cursor:pointer;'><a class='clickable' onclick='updatemodal()'>Sign up for email updates</a></div>
        <div class='pad0 fl col12 footer-button' onclick="location.href='{{base}}/donate';" style='cursor:pointer;'><a href='{{base}}/donate'>Support youth media</a></div>
    </div>
</div>
<!-- <script src="{{base}}/js/search.min.js"></script> -->
<script src="{{base}}/bootstrap.min.js"></script>
<script src="{{base}}/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{base}}/js/mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="{{base}}/js/date.format.js" type="text/javascript" charset="utf-8"></script>
<script src="{{base}}/js/URI.js" type="text/javascript" charset="utf-8"></script>
<script src="{{base}}/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
