---
layout: default
---
<div itemscope itemtype="http://schema.org/Blog">
  <h1 itemprop="name">{{ page.headline }}</h1>
  <img itemprop="image" src="{{ page.featuredphoto }}" />
  <p itemprop="description">{{page.tagline}}</p>
</div>
<!-- Open Graph -->
<meta property='og:title' content='{{ page.headline }}' />
<meta property='og:image' content='{{ page.featuredphoto }}' />
<meta property='og:description' content='{{tagline}}' />
<!-- Should I use tagline or an excerpt? -->
<!-- <meta property='og:description' content='{{ post.content | strip_html | truncatewords:20}}' /> -->
<div class='col12 container pad8' style='padding-top:152px;'>
    <div class='col10 margin3 main-content'>
        <h1 class='article-title'>{{ page.headline }}</h1>
        {{ content }}
    </div>
    <div class='col2 rborder contributor-info tag'>
            <div class='margin4 circular article-circle' style='background:url({{page.contributorphoto}}) no-repeat; background-size: 75px;'></div>
            {% for contributor in page.contributors %}{% assign contributorclear = contributor | replace: "'", ' ' %}
            <h5 class='margin3 col10 contributor-name post'><a class='dark-link' href="{{site.baseurl}}/{{ contributorclear | downcase | replace:' ','-' }}">{{ contributor }}</a></h5>{% endfor %}
            <h4 class='margin3 col5'>{{page.contributorage}} Years Old</h4>
            <p class='margin3 col7' style='text-align:left;'>{{page.contributorshortbio}}</p>
            <!-- SOCIAL MEDIA FOR THE AUTHOR -->
            <!-- ADD TOP BORDER -->
            <!-- <div class='col12 container published'> -->
            {% for tag in page.tags %}<h4> <a class='tag-color margin3 col3 pad0' href={{site.baseurl}}/tag/{{ tag }}>{{ tag }}</a></h4>{% endfor %}
            <h4 class='margin3 col7 publishedabove'>published</h4>
            <h4 class='margin3 col7 publishedbelow'>{{page.date || date: "%b %d, %Y" }}</h4>
            <!-- </div> -->
            <h4 class='tag'><a class='margin3 col3 pad0 facebook-color' href='http://www.facebook.com/'>Facebook</a></h4>
            <h4><a class='margin3 col3 pad0 google-color' href='http://www.google.com/'>Google+</a></h4>
            <h4><a class='margin3 col3 pad0 twitter-color' href='http://www.twitter.com/'>Twitter</a></h4>
    </div>
            <!-- NEED LOGIC FOR LOADING SOCIAL MEDIA LINKS IF POSSIBLE -->
            <!-- ADD TOP BORDER -->
            <!-- SHARE SOCIAL MEDIA -->
        <!-- <div class='margin4 col3 l circular' style='background:url({{page.contributorphoto}}) no-repeat; background-size: 130px;'></div>
        <div class='center fr'><h4>{% for contributor in page.contributors %}
            <p>{% assign contributorclear = contributor | replace: "'", ' ' %}</p> -->
            <!-- <a href="{{site.baseurl}}/{{ contributorclear | downcase | replace:' ','-' }}"><h3 class='contributor-name post'>{{ contributor }}</h3></a>{% endfor %}</h4> -->
            <!-- <p class='contributors'>{{page.contributorbio}}</p>
        </div> -->
        <!-- if more than one add an 'and' (if loop index is two or more) -->
        <!-- </div> -->
</div>
