---
layout: default
---
<div class='col12 container pad8' style='padding-top:152px;'>
    <div class='col8 margin3 main-content' id='maincontent'>
     <img src={{page.featuredphoto}} />
        <h1 class='article-title'>{{ page.headline }}</h1>
        {{ content }}
    </div>
<script>
	var postheight = $("#maincontent").height();	
	$(function(){
    
    // watch the window's scroll event
        $(window).scroll(function(){
            
            // check the body's scrollTop
            if($('body').scrollTop() < postheight & $('body').scrollTop() > 20 ){
                
                // do stuff
                $('.contributor-info').css({
                    'position': 'fixed',
                    'top': '0'
                });
                // $('.main-content').css({
                //     'padding-top': '40px'
                // });
            } else {
                
                // don't forget to reverse
                $('.contributor-info').css({
                    'position': 'relative',
                    'top': 'auto'
                });
                // $('.main-content').css({
                //     'padding-top': '0'
                // });
            }
        });
        
    });
	
</script>

    <div class='col2 rborder contributor-info tag'>
            <div class='margin4 circular article-circle' style='background:url({{page.contributorphoto}}) no-repeat; background-size: 75px;'></div>
            {% for contributor in page.contributors %}{% assign contributorclear = contributor | replace: "'", ' ' %}
            <h5 class='margin3 col10 contributor-name post'><a class='dark-link' href="{{site.baseurl}}/{{ contributorclear | downcase | replace:' ','-' }}">{{ contributor }}</a></h5>{% endfor %}
            <h4 class='margin3 col5'>{{page.contributorage}} Years Old</h4>
            {% if contributortwitter != undefined %}<h4 class='margin3 col5'>Catch up with me {{page.contributortwitter}}</h4>{% endif %}
            <p class='margin3 col7' style='text-align:left;'>{{page.contributorshortbio}}</p>
            {% for tag in page.tags %}<h4> <a class='tag-color margin3 col3 pad0' href={{site.baseurl}}/tag/{{ tag }}>{{ tag }}</a></h4>{% endfor %}
            <h4 class='margin3 col7 publishedabove'>published</h4>
            <h4 class='margin3 col7 publishedbelow'>{{page.date || date: "%b %d, %Y" }}</h4>
            <h4 class='fr marginr4 tag'><a href="https://twitter.com/share" class="twitter-share-button" data-via=theyoungist data-url="youngist.github.com/{{page.url}}" data-lang="en" data-size="large" data-count="none">Tweet</a>
</h4>
            <h4 class='fr marginr4 tag'><div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div></h4>
            <h4 class='fr marginr4 tag'><div class="fb-share-button" data-href={{page.url}} data-type="button"></div></h4>
	</div>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
        <!-- <div class='margin4 col3 l circular' style='background:url({{page.contributorphoto}}) no-repeat; background-size: 130px;'></div>
        <div class='center fr'><h4>{% for contributor in page.contributors %}
            <p>{% assign contributorclear = contributor | replace: "'", ' ' %}</p> -->
            <!-- <a href="{{site.baseurl}}/{{ contributorclear | downcase | replace:' ','-' }}"><h3 class='contributor-name post'>{{ contributor }}</h3></a>{% endfor %}</h4> -->
            <!-- <p class='contributors'>{{page.contributorbio}}</p>
        </div> -->
        <!-- if more than one add an 'and' (if loop index is two or more) -->
        <!-- </div> -->
</div>
