---
layout: default
exclude_from_search: true
---
<div class='pad8 col12 container' style='color:white; padding-top:16.6666%; background:chocolate;'>
    <h1 class='margin1 pad2' style='text-transform:capitalize; font-size: -webkit-xxx-large;'>{{page.tag}}</h1>
    <h3 class='margin1 pad2'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel diam dui. Mauris dapibus neque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel diam dui. Mauris dapibus neque quis gravida dignissim. metus tempus. Cras odio</h3>
</div>
{% for post in site.posts %}
{% if post.published == true %}
{% for tag in post.tags %}
{% if tag == page.tag %}
<div class='col12 pad4'>
    <div class='margin1 article'>
    <h2 class='bold'><a href={{site.baseurl}}{{post.url}}>{{post.headline}}</a></h2>
    <!-- PUT IN LOGIC FOR ADDING 'ANDS' -->
    <p class='contributors'>{% for contributor in post.contributors %}
    <a href="{{site.baseurl}}/{{ contributor | downcase | replace:' ','-' }}">{{contributor}}</a>{% if forloop.rindex == 2 and forloop.length > 1 %} and {% endif %}{% if forloop.rindex >  2 %},{% endif %}{% endfor %}</p>
    <p>{{ post.content | strip_html | truncatewords:40}}</p>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
