---
layout: default
class: action
category: page
---
<div class='col12 container fill-article action-padding'>
	<img src="/clean-blog/images/icon-action-page-active.svg" alt="action logo" class='fl action-logo'>
	<h2 class='action-title'>TAKE ACTION</h2>
	<div class='pad4 container'>
		<div class='col12 container'>
{% for post in site.categories.action %}
{% if post.layout != "post" %}
	<div class='col4 action-posts'>
		<div class='col10 orangeback' style='{% if post.featuredphoto != "undefined" %} background:url({{post.featuredphoto}}); {% endif %} background-size:cover;'/></div>
		<div class='col10 action-fill'>
			<h3 class='pad2 capitalize'><a href='{{site.baseurl}}{{post.url}}'>{{ post.headline}}</a></h3>
			<p class='pad2 post-type'>{{post.type}}</p>
		</div>
	</div>
{% endif %}
{% endfor %}
	</div>
		<div class='col12 container'>
{% for post in site.categories.action %}
{% if post.layout == "post" %}
    <div class='article'>
    <h2 class='bold capitalize'><a href={{site.baseurl}}{{post.url}}>{{ post.headline}}</a></h2>
    <p class='contributors'>
		{% for contributor in post.contributors %}
		{% assign contributorclear = contributor | replace: "'", ' ' %}
		{% assign links = 'false' %} 
		{% for post in site.posts %}
		{% if post.titlename == contributor %}
		<a href='{{site.baseurl}}/{{ contributorclear | downcase | replace:' ','-' }}'>{{contributor}}</a>
		{% assign links = 'true' %}
		{% endif %}
		{% endfor %}
		{% if links == 'false' %}{{contributor}}{% endif %}{% if forloop.rindex == 2 and forloop.length > 1 %} and {% endif %}{% if forloop.rindex >  2 %},{% endif %}{% endfor %}</p>
    <p>{{ post.content | markdownify | strip_html |  truncatewords:40}}</p>
    </div>
{% endif %}
{% endfor %}
	</div>
	</div>
</div>