---
layout: default
class: all
category: page
---
<div class='pad8 col12 container page-headline' style='background:url(https://s3.amazonaws.com/f.cl.ly/items/0i23190d1c3U0B0c3m2i/facebookbanner2.jpg) no-repeat; background-size:cover;'>
    <h1 class='margin1 page-title'>Recent Posts</h1>
	<p class='col6'></p>
</div>
<div class='pad4 col12 container' style='color:white; background:#BFBEBE;'>
	{% for post in site.posts limit:50 %}
	{% if post.layout == "post" %}
	    <div class='article'>
	    <h2 class='bold capitalize'><a href={{site.baseurl}}{{post.url}}>{{ post.headline }}</a></h2>
	    <p class='contributors'>
			{% for contributor in post.contributors %}
			{% assign contributorclear = contributor | replace: "'", ' ' %}
			{% assign links = 'false' %} 
			{% for post in site.posts %}
			{% if post.titlename == contributor %}
			<a href='{{site.baseurl}}/{{ contributorclear | downcase | replace:' ','-' }}'>{{contributor}}</a>
			{% assign links = 'true' %} 
			{% endif %}
			{% endfor %}
			{% if links == 'false' %}{{contributor}}{% endif %}{% if forloop.rindex == 2 and forloop.length > 1 %} and {% endif %}{% if forloop.rindex >  2 %},{% endif %}{% endfor %}</p>
	    <p>{{ post.content | textilize  | strip_html |  truncatewords:40}}</p>
	    </div>
	{% endif %}
	{% endfor %}
</div>